<div class="main hightlight">
  <h2>Despre <em>CALCULUS</em></h2>
  <p>
    Prezenta aplicație servește drept un calculator simplu,
    ce poate simplifica viața unei persoane ce se ocupă rezolvarea problemelor mai complexe
    decît aflarea soluțiilor unei inecuații.
    El nu se poziționeză ca un ajutor la temele de acasă, ci din contra, ca un ajutor
    în înțelegerea matematicii ca ramură modernă a științei.
    Autorul acestei aplicații speră că utilizarea unui asemenea instrument
    poate readuce simplitate și comfort în efectuarea calculelor voluminoase.
  </p>
  <p>
    La baza lui stă api-ul oferit gratuit de către compania <a href="http://products.wolframalpha.com/api/">Wolfram Alpha</a>.
  </p>
  <p>
    Această aplicație este găzduită pe un server oferit gratis de către compania ultrapopulară <a href="https://www.heroku.com/">Heroku</a>.
  </p>

  <p>
    Tehnologii utilizate la crearea aplicației:
  </p>
  <ul>
    <li><a href="http://products.wolframalpha.com/api/">Wolfram Alpha API</a></li>
    <li>Limbaj de programare backend - <a href="https://www.ruby-lang.org/">Ruby</a></li>
    <li>WEB - HTML, CSS și JavaScript</li>
  </ul>

  <p>Codul sursă poate fi găsit pe <a href="https://github.com/andreiglingeanu/Calculus">Github</a>.</p>

  <p>Orice întrebări pot fi adresate autorului - Glingeanu Andrei, pe adresa <a href="mailto:andrei.glingeanu@gmail.com">andrei.gligeanu@gmail.com</a></p>

</div>
