<%= search_bar %>

<div class="examples main highlight">
  <h4>Aici puteți găsi o serie de exemple. Dați click pe săgeată pentru a le executa.</h4>
  <p>Click dreapta pe exemplu ca să-l introduceți în forma de căutare.</p>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Aritmetica</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți utiliza această aplicație ca pe un calculator simplu.</p>
        <ul>
          <li>
            1 + 1
          </li>
          <li>
            2 * 249
          </li>
          <li>
            205396 / 2
          </li>
          <li>
            2 * 123 * 23 / 4 + 348
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Puteri și radicali</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți utiliza în calculele dumneavoastră puteri și radicali, la fel puteți combina rezultate cu paranteze.</p>
        <p>Regulile ordinii efectuării operațiilor vor fi respectate.</p>
        <ul>
          <li>
            2 ^ 3
          </li>
          <li>
            sqrt(9)
          </li>
          <li>
            sqrt(3^2 + 4^2)
          </li>
          <li>
            sqrt(pi) + sqrt(e)
          </li>
          <li>
            2 + 2 * 2
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Polinoame</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți simplifica polinoame, obține forme alternative.</p>
        <p>La fel, orice polinom va fi socotit drept o funcție, această funcție va fi derivată și integrată.</p>
        <ul>
          <li>
            a^2 - 4
          </li>
          <li>
            x^2 + 4x + 4
          </li>
          <li>
            e^x
          </li>
          <li>
            2x^5 - 19x^4 + 58x^3 - 67x^2 + 56x - 48
          </li>
          <li>
            x^6 + y^6
          </li>
          <li>
            x^3 - x^3
          </li>
          <li>
            x^3 - y^3
          </li>
          <li>
            (a + b)^2
          </li>
          <li>
            1/(1+sqrt(2))
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Trigonometrie</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți introduce unele funcții trigonometrice.</p>
        <p>Se acceptă atît radiani cît și grade.</p>
        <ul>
          <li>pi</li>
          <li>
            sin pi
          </li>
          <li>
            (sin pi)^2 + (cos pi)^2
          </li>
          <li>
            tg 45
          </li>
          <li>
            ctg 45
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Numere complexe</a>
      </div>

      <div class="content" style="display:none;">
        <p>Calculele pot fi făcute și în mulțimea numerelor complexe.</p>
        <ul>
          <li>i + 2</li>
          <li>conj(24 - 5i)</li>
          <li>
            (2 + 2i) / (2 + 3i)
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Combinatorică</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți calcula cu ușurință permutări, aranjamente și combinări ale mulțimilor.</p>
        <ul>
          <li>
            4!
          </li>
          <li>
            10! - 5!
          </li>
          <li>
            C(10, 5)
          </li>
          <li>
            P(4, 2)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Ecuatii și Inecuații</a>
      </div>

      <div class="content" style="display:none;">
        <p>Puteți obține rapid soluția ecuațiilor și a inecuațiilor.</p>
        <p>La fel, puteti prin virgula enumera mai multe relatii astel însemnînd sistemele de ecuații/inecuații.</p>
        <ul>
          <li>
            2x + 1 = 0
          </li>
          <li>
            x^2 + 4x + 4 = 0
          </li>
          <li>
            x^2 + 4x + 6 = 0
          </li>
          <li>
            x+y=10, x-y=4
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="toggle">
      <div class="open">
        <i class="icon-plus"></i>
        <a href="#">Matrici</a>
      </div>

      <div class="content" style="display:none;">
        <p>Calcularea determinanților și sumarea, înumlțirea matricilor a devenit o plăcere.</p>
        <p>Dacă este posibil, inversa matricii va fi indicată.</p>
        <ul>
          <li>
            {{1, 0}, {0, 1}}
          </li>
          <li>
            {{1, 0}, {0, 1}} * {{2, 6}, {67, 8}}
          </li>
          <li>
            {{0,-1},{1,0}}.{{1,2},{3,4}}+{{2,-1},{-1,2}}
          </li>
          <li>
            {{0, -1}, {2, 6}} + {{5, 8}, {2, 11}}
          </li>
          <li>
            {{2,-1,1},{0,-2,1},{1,-2,0}}.{x,y,z}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

