<div class="home">

  <div class="search">
    <form action="/query" method="get" class="">
      <input autofocus class="highlight" type="text" placeholder="Tapați" name="q" id="q">
    </form>
  </div>

</div>
