<div class="home">

  <%= search_bar %>

  <div class="button-group push-center">
    <a class="ink-button" href="/examples">
      <i class="icon-tasks"></i>
      Exemple
    </a>
    <a class="ink-button" href="/about">
      <i class="icon-question-sign"></i>
      Despre acest proiect
    </a>
  </div>
</div>
