<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculus</title>
  <link rel="stylesheet" href="/css/ink.css" media="all">
  <link rel="stylesheet" href="/css/ink-ie7.css" media="all">
  <link rel="stylesheet" href="/css/style.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="ink-grid">
    <a class="logo" href="/">
      <h1>Calculus</h1>
    </a>

    <%= yield %>

    <div class="main highlight footer">
      &copy;
      <a href="http://andreiglingeanu.github.io/about/">Andrei Glingeanu</a>

      <a class="push-right" href="http://products.wolframalpha.com/api/">
        <img src="http://www.wolframalpha.com/images/favicon.ico" alt="">
        Wolfram|Alpha API
      </a>
    </div>

  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/matrix.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
