<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculus</title>
  <link rel="stylesheet" href="/css/ink.css" media="all">
  <link rel="stylesheet" href="/css/ink-ie7.css" media="all">
  <link rel="stylesheet" href="/css/style.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="ink-grid">
    <a class="logo" href="/">
      <h1>Calculus</h1>
    </a>
    <%= yield %>
  </div>
</body>
</html>
