<div class="main highlight-block">
  <div class="not-found">
    <h1>
      Nu am găsit nimic.
      <i class="icon-frown icon-big"></i>
    </h1>
    <div class="ink-button blue">
      Mergeți la pagina principală.
      <i class="icon-home"></i>
    </div>
  </div>
</div>

