<div class="main highlight">
  <% result.each do |interes, hash| %>
    <fieldset class="block-result">
      <legend><%= hash[:translation] %></legend>
      <img src="<%= hash[:img] %>" alt="<%= hash[:plaintext] %>">
    </fieldset>
  <% end %>
</div>
